.jdsn-sc {
    display: inline;
}

@keyframes jdsn_fire {
    0% {
        color: rgb(12, 0, 0);
    }
    50% {
        color: rgb(235, 0, 0);
    }
    100% {
        color: rgb(255, 115, 0);
    }
}

@keyframes jdsn_blinker {
    50% {
        opacity: 0;
    }
}

/* Rainbow styles: */
.jdsn-rainbow {
    background: white;
}
.jdsn-rainbow::before,
.jdsn-rainbow::after {
    content: '🌈'
}
.jdsn-rainbow-inner {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/* Boom styles: */
.jdsn-boom {
    background: yellow;
    color: red;
    animation: jdsn_fire 1s linear infinite;
}
.jdsn-boom::before,
.jdsn-boom::after {
    content: '💥';
}

/* Party styles: */
.jdsn-party {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
}
.jdsn-party::before {
    content: '🎉';
}
.jdsn-party::after {
    content: '🍾';
}
.jdsn-party-inner {
    --jdsn-party-outline: rgba(0, 0, 255, 1);
    color: white;
    text-shadow: -1px -1px 0px var(--jdsn-party-outline), -1px 1px 0px var(--jdsn-party-outline), 1px -1px 0px var(--jdsn-party-outline), 1px 1px 0px var(--jdsn-party-outline);
    animation: jdsn_blinker 1s linear infinite;
}

/* Fire styles: */
.jdsn-fire {
    color: red;
    background: yellow;
}
.jdsn-fire::before,
.jdsn-fire::after {
    content: '🔥';
}

/* Shit styles: */
.jdsn-shit {
    background: rgb(226, 192, 161);
    color: rgb(49, 32, 10);
}
.jdsn-shit::before,
.jdsn-shit::after {
    content: '💩';
}
